
  .modal-photo{
    display: flex;
    justify-content: center;
  }

  .modal-photo img {
    border-radius: 20px;

    overflow: hidden;
    object-fit: contain;
    display: block;
    transition: ease-in 0.3s;
  }

  .modal-photo img:hover {
    transform: scale(1.01);
    filter: brightness(60%) grayscale(1);
    transition: ease-in-out 0.3s;
  }
  

  .modal-photo p{
    display: none;
    position: absolute;
    bottom: -20px;
    font-weight: bold;
    font-size: .7rem;
    text-shadow: rgba(0, 0, 0, 0.5);

    transition: display 0.3s ease-in-out;
  }


  .modal-photo img:hover + p {

    display: flex;
    position: absolute;
    bottom: 70px;
    font-weight: bold;
    font-size: .7rem;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    
    transition: display 0.3s ease-in-out;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer Button:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
    
  }


  
