@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

  .modal {
    font-family: 'Rubik', sans-serif;
  }

  .modal-header {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform:uppercase;
    padding: 10px;
    font-size: 2vw;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }

  .modal-photo {
    display: flex;
    justify-content: center;
  }

  .modal-photo img {
    border-radius: 20px;
    overflow: hidden;
    object-fit: contain;
    display: block;
    transition: ease-in 0.2s;
    cursor: pointer;
  }




  .modal-photo p {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-weight: 300;
    font-size: 1rem;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: ease-in 0.3s;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer Button:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
    
  }


  
